.image {
    width: 175px;
    height: 120px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.characteristics {
    padding-top: 20px;
    font-size: 12px;
}

.properties {
    width: 375px;
    padding-top: 15px;
}
.product_price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.cart_title {
    color: #000000;
}